{{ if and .Values.imagebuilder.enabled .Values.global.rbac.create }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.imagebuilder.buildNamespace }}
  labels:
    app: flightctl
    {{- include "flightctl.standardLabels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: flightctl-imagebuilder
  namespace: {{ .Values.imagebuilder.buildNamespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "get", "list", "watch", "delete", "deletecollection"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["create", "get", "list", "delete"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "list", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["create", "get", "list", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: flightctl-imagebuilder
  namespace: {{ .Values.imagebuilder.buildNamespace }}
  labels:
    {{- include "flightctl.standardLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: flightctl-imagebuilder
subjects:
  - kind: ServiceAccount
    name: flightctl-imagebuilder
    namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
{{ end }}

