{{ if .Values.imagebuilder.enabled }}
{{- if .Values.global.generateSecrets }}
{{- $uploadToken := "" }}
{{- if .Values.imagebuilder.uploadToken }}
  {{- $uploadToken = .Values.imagebuilder.uploadToken | b64enc }}
{{- else }}
  {{- /* Try to lookup existing secret to preserve token during upgrades */ -}}
  {{- $existingSecret := lookup "v1" "Secret" (default .Release.Namespace .Values.global.internalNamespace) "imagebuilder-upload-token" }}
  {{- if $existingSecret }}
    {{- $uploadToken = index $existingSecret.data "token" }}
  {{- else }}
    {{- /* Generate new random token only on fresh install */ -}}
    {{- $uploadToken = randAlphaNum 32 | b64enc }}
  {{- end }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  labels:
    flightctl.service: flightctl-imagebuilder
    {{- include "flightctl.standardLabels" . | nindent 4 }}
  name: imagebuilder-upload-token
  namespace: {{ default .Release.Namespace .Values.global.internalNamespace }}
type: Opaque
data:
  # Token used by imagebuilder service and passed to build jobs
  token: {{ $uploadToken }}
{{- end }}
{{ end }}


